<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <main class="body-root">
      <section class="section1">
        <div class="section1-content">
          <div class="section1-header">
            <h1 class="section1-header-title"
              >Cours de soutient Scolaire en ligne</h1
            >
            <p class="section1-header-subtitle">
              Vous avez besoin d'un cours de soutien scolaire en ligne ? <br />
              Nous donnons des cours de soutien scolaire en ligne de
              mathématiques, niveaux collège et lycée.
            </p>
          </div>
          <div class="section1-card">
            <div class="section1-card-image"> </div>
            <div class="section1-card-content">
              <div class="section1-card-link">
                <div class="section1-card-link-row">
                  <a href="#" class="section1-card-link-item"
                    >Programmer une scéance</a
                  >
                  <i class="fas fa-chevron-right"></i>
                </div>
                <div class="section1-card-link-row">
                  <a href="#" class="section1-card-link-item"
                    >A propos de l'encadrant</a
                  >
                  <i class="fas fa-chevron-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section2">
        <p>Le cv par ici</p>
      </section>
      <section class="section1">
        <p>hello world</p>
      </section>
    </main>
  </body>
</html>
