<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <main class="body-root">
      <section class="section1">
        <div class="section1-content">
          <div class="section1-header">
            <h1 class="section1-header-title"
              >Cours de soutien de mathématiques en ligne</h1
            >
            <div class="card">
              <div class="card-body">
                Avez vous besoin d'un cours de soutien scolaire en ligne ?
                <br />
                Nous donnons des cours de soutien scolaire de mathématiques en
                ligne, niveaux collège et lycée.
              </div>
            </div>
          </div>
          <div class="section1-card">
            <div class="section1-card-image"> </div>
            <div class="section1-card-content">
              <div class="section1-card-link">
                <div class="section1-card-link-row">
                  <a href="#card-bodyID" class="section1-card-link-item"
                    >Programmer une scéance</a
                  >
                  <i class="fas fa-chevron-right"></i>
                </div>
                <div class="section1-card-link-row">
                  <a href="#section2ID" class="section1-card-link-item"
                    >A propos de l'encadrant</a
                  >
                  <i class="fas fa-chevron-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section2" id="section2ID">
        <div class="section2-content">
          <div class="section2-part1">
            <div class="section2-part1-image"> </div>
            <div class="section2-part1-information">
              <h1 class="section2-part1-title">MOHAMED HALIM Assoumani</h1>
              <p class="section2-part1-subtitle">
                medhalimassoumani@yahoo.com
              </p>
            </div>
          </div>
          <div class="section2-part2">
            <div class="section2-part2-wrapper">
              <div class="section2-part2-row">
                <h1 class="section2-part2-title">Qualifications</h1>
                <div class="section2-part2-information-wrapper">
                  <div class="section2-part2-information">
                    <div class="section2-part2-information-year"> 2021 </div>
                    <div class="section2-part2-information-scolarship">
                      Maitrise en Ingénierie à l’UQAR, Rimouski Canada en cours
                    </div>
                  </div>
                  <div class="section2-part2-information">
                    <div class="section2-part2-information-year"> 1995 </div>
                    <div class="section2-part2-information-scolarship">
                      Mastère Spécialisé en Télécommunications à Telecom
                      Bretagne, Brest, France. Spécialité : Communications,
                      Optique, Forme et Image.
                    </div>
                  </div>
                  <div class="section2-part2-information">
                    <div class="section2-part2-information-year"> 1993 </div>
                    <div class="section2-part2-information-scolarship">
                      Diplôme d'Études Approfondies (DEA) de Mathématiques
                      Appliquées, conjoint à l’École Polytechnique, l’École
                      Normale Sup Ulm. et l’Université Pierre et Mari-Curie,
                      France. Spécialité : Analyse Numérique, Calcul
                      Scientifique et Analyse non Linéaire
                    </div>
                  </div>
                </div>
              </div>
              <div class="section2-part2-row">
                <h1 class="section2-part2-title">Experience Professionnelle</h1>
                <div class="section2-part2-information-wrapper">
                  <div class="section2-part2-information">
                    <div class="section2-part2-information-year"> 2021 </div>
                    <div class="section2-part2-information-scolarship">
                      Donne des cours de soutien – Coup de Pouce scolaire
                    </div>
                  </div>
                  <div class="section2-part2-information">
                    <div class="section2-part2-information-year"> 2021 </div>
                    <div class="section2-part2-information-scolarship">
                      Auxiliaire de Mathématiques a l’UQAR, Rimouski, Canada
                      Enseigne le Calcul Différentiel aux étudiants de première
                      année universitaire.
                    </div>
                  </div>
                  <div class="section2-part2-information">
                    <div class="section2-part2-information-year"> 2010 </div>
                    <div class="section2-part2-information-scolarship">
                      Enseignant Vacataire de mathématiques – Université des
                      Comores Assure les Travaux Dirigés de la Licence 3 en
                      Analyse numérique Assure les Travaux Pratiques de la
                      Licence 3 en Analyse numérique avec programmation sur le
                      logiciel Scilab
                    </div>
                  </div>
                  <div class="section2-part2-information">
                    <div class="section2-part2-information-year"> 2005 </div>
                    <div class="section2-part2-information-scolarship">
                      Professeur de Mathématiques à l’Université des Comores
                      J’ai assuré les cours de la première et deuxième année
                      de l’Institut de Formation des Enseignants IFERE et les
                      travaux dirigés de la première année de la Faculté des
                      Sciences
                    </div>
                  </div>
                </div>
              </div>
              <div class="section2-part2-row">
                <h1 class="section2-part2-title"
                  >Formations courtes et spécialisées</h1
                >
                <div class="section2-part2-information-wrapper">
                  <div class="section2-part2-information">
                    <div class="section2-part2-information-year"> 2020 </div>
                    <div class="section2-part2-information-scolarship">
                      Programmation avec Matlab, University of Vanderbilt
                    </div>
                  </div>
                  <div class="section2-part2-information">
                    <div class="section2-part2-information-year"> 2020 </div>
                    <div class="section2-part2-information-scolarship">
                      Bases de la Vision Artificielle, The State University of
                      New York
                    </div>
                  </div>
                  <div class="section2-part2-information">
                    <div class="section2-part2-information-year"> 2020 </div>
                    <div class="section2-part2-information-scolarship">
                      Réseau d’accès Optique FTTH, Institut Mine Telecom, France
                    </div>
                  </div>
                  <div class="section2-part2-information">
                    <div class="section2-part2-information-year"> 2020 </div>
                    <div class="section2-part2-information-scolarship">
                      Calcul Vectoriel pour Ingénieurs, Hong Kong University
                    </div>
                  </div>
                  <div class="section2-part2-information">
                    <div class="section2-part2-information-year"> 2017 </div>
                    <div class="section2-part2-information-scolarship">
                      Interactions Fluides-Structures, École Polytechnique,
                      France
                    </div>
                  </div>
                  <div class="section2-part2-information-ul">
                    <ul class="section2-part2-information-list">
                      <li class="section2-part2-information-list-item">
                        -Techniques de communications (sur les interviews
                        télévisés), Abu Dhabi
                      </li>
                      <li class="section2-part2-information-list-item">
                        -Techniques de présentation, Dubaï
                      </li>
                      <li class="section2-part2-information-list-item">
                        -Techniques d’enseignement des TIC, Tunis
                      </li>
                      <li class="section2-part2-information-list-item">
                        -Parler l’Arabe, Faculté Imam Chanfiou, Moroni
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section3">
        <div class="section3-content">
          <div class="section3-content-information">
            <div class="card-group">
              <div class="card">
                <img src="/images/img01.jpg" class="card-img-top" alt="..." />
                <div class="card-body" id="card-bodyID">
                  <h5 class="card-title">20 min Gratuites</h5>
                  <p class="card-text"
                    >Les premières 20 min des cours sont gratuit. Elles vous
                    aident à avoir une aperçue de la qualité du cours.</p
                  >
                  <p class="card-text"
                    ><small class="text-muted"
                      >Merci de remplir le formulaire en bas :</small
                    ></p
                  >
                </div>
                <div class="card-body">
                  <h5 class="card-title"
                    >35$ canadiens ou 25 euros par heure
                  </h5>
                  <p class="card-text"
                    >Pour la suite des cours, le prix est fixé à 35 dollars
                    canadiens l'heure.</p
                  >
                </div>
              </div>
            </div>
          </div>
          <p class="merci-form"
            >Merci de remplir le formulaire.
            <i class="fas fa-level-down-alt"></i
          ></p>

          <form action="/" method="post" class="section3-content-form">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingInputNameFamily"
                placeholder="Nom du tuteur"
                name="nomTuteur"
                required
              />
              <label for="floatingInputNameFamily"
                >Nom et prénom du tuteur</label
              >
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingInputFirstName"
                placeholder="Nom"
                name="nom"
                required
              />
              <label for="floatingInputFirstName">Nom de l'élève</label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingInputLastName"
                placeholder="Prenom"
                required
                name="prenom"
              />
              <label for="floatingInputLastName">Prénom de l'élève</label>
            </div>
            <div class="form-floating">
              <input
                type="email"
                class="form-control"
                id="floatingInputEmail"
                placeholder="name@example.com"
                name="email"
                required
              />
              <label for="floatingInputEmail">Addresse Email</label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingInputContry"
                placeholder="Pays"
                name="pays"
                required
              />
              <label for="floatingInputContry">Pays</label>
            </div>
            <div class="form-floating">
              <input
                type="tel"
                class="form-control"
                id="floatingInputPhone"
                placeholder="Telephone"
                name="telephone"
              />
              <label for="floatingInputPhone">Telephone</label>
            </div>
            <div class="form-floating">
              <select
                class="form-select"
                id="floatingSelect"
                name="contactBy"
                required
                aria-label="Floating label select example"
              >
                <option value="email" selected>Par Email</option>
                <option value="whatsaps">Par WhatsApp</option>
              </select>
              <label for="floatingSelect">Comment vous contacter ?</label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingInputClasse"
                placeholder="Classe"
                name="classe"
                required
              />
              <label for="floatingInputClasse">Classe de l'enfant</label>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Domaine des cours : example racine carrée, équation, etc..."
                id="floatingTextarea2"
                style="height: 100px"
                name="domaine"
                required
              ></textarea>
              <label for="floatingTextarea2"
                >Ce que vous voudriez étudier (exemple : les
                équations...)</label
              >
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Envoyer</button>
            </div>
          </form>
          <div class="card">
            <div class="card-body">
              Pour toute autre information, contactez nous par email :
              <a href="mailto:mohamedhalim.cours@gmail.com"
                >mohamedhalim.cours@gmail.com</a
              >
            </div>
          </div>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Haut de la page</a
              >
            </li>
          </ul>
        </div>
      </section>
    </main>
    <script src="/javascripts/indexJS.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
