<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Information de l'etudiant :</h1>
    <p> Bonjour {{nomParent}} </p
    ><p>
      Merci de votre intéret aux cours de soutient. Nous avons enregistré les
      informations de l'élève {{firstName}} {{lastName}}, et nous vous
      recontacterons dans les prochaines 48 heures afin de programmer un cours
      de soutien dans les plus brefs délais. Merci pour votre accompagnement.</p
    >
    <br />

    <p> Mohamed Halim Assoumani | responsable des cours en ligne</p>
    <p>medhalimassoumani@yahoo.com</p>
  </body>
</html>
